.home_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.products_title{
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
}
.products_content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.product_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}
@media (max-width : 840px) {
    .product_item{
        width: 30%;
    }
}
@media (max-width : 556px) {
    .product_item{
        width: 40%;
    }
}
@media (max-width : 428px) {
    .products_content{
        gap: 10px;
    }
    .product_item{
        width: 60%;
    }
}

.product_picture {
    width: 100%; 
    aspect-ratio: 1/1;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.product_img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.product_price{
    font-size: 1.5rem;
    color: #535bf2;
}
.product_name{
    margin: 10px 0;
    font-size: 1rem;
    flex: 1;
}

button{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: #535bf2;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.btn_control{
    display: flex;
    margin: 2rem 0;
    text-align: center;
}
.numberPage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.1rem;
    margin: 0 1rem;
}